<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="exceptWords" value="" />
    <add key="leftClick" value="Terminate" />
    <add key="rightClick" value="Explorer" />
    <add key="middleClick" value="Explorer" />
  </appSettings>
</configuration>